{% extends "base.html" %} {% block content %}

<main
  class="w-100 ms-auto me-auto d-flex align-items-center mt-5"
  style="max-width: 330px; margin: 0; padding: 0"
>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Please login</h1>
    <div class="form-floating">
      {{ form.username(size=32, class="form-control", placeholder="Username")}}
      {% for error in form.username.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %} {{ form.username.label }}
    </div>
    <div class="form-floating">
      {{ form.password(size=32, class="form-control", placeholder="Password") }}
      {% for error in form.password.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %} {{ form.password.label }}
    </div>
    <div class="form-check text-start my-3">
      {{ form.remember_me(class="form-check-input") }} {{
      form.remember_me.label(class="form-check-label") }}
    </div>
    {{ form.submit(class="btn btn-primary w-100 py-2") }}
    <p class="text-end mt-3">
      Don't have an account? <a href="{{ url_for('register') }}">Register</a>
    </p>
    <p class="mt-5 mb-3 text-body-seconday">© 2024</p>
  </form>
</main>

{% endblock %}